body{
    margin: 0;
}

.box{
    text-align: center;
    margin: auto;
    margin-top: 50px;
    width: 300px;
    height: 400px;
    background: #7DA0CA;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0px 0px 20px 0px #000;
}

h2{
    color: #fff;
    line-height: 1ex;
    letter-spacing: 2px;
    font-size: 27px;
    text-shadow: 0px 0px 3px #04070c;
}
p{
    text-align: start;
    line-height: 2ex;
}
img{
    padding: 20px;
    width: 50%;
    height: 20%;
    filter: drop-shadow(0px 0px 3px #00f);
}