body{
    margin: 0;
    background-color: #f5ede7;
}

input, select{
    background: transparent;
    padding: 6px 8px;
    width: 100%;
    box-sizing: border-box;
    border: none;
    border: 1px #30393e solid;
    border-radius: 5PX;
}
option{
    background: #f5ede7;
}

.form_input{
    padding: 10px 20px;
}
form{
    font-size: 16px;
    background-color: #e0dedc;
    max-width: 500px;
    margin: auto;
    border-radius: 5px;
    box-shadow: 0px 0px 35px #0007;
    margin-top: 50px;
}

h2{
    font-size: 1.5em;
    text-align: center;
    margin: 0;
    padding: 20px;
}

fieldset{
    margin: 0 20px 12px 20px;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #0c0f3c;
}

legend{
    color: #343333;
    padding: 0 5px;
}

textarea{
    min-width: 100%;
    resize: vertical;
    min-height: 10px;
    max-width: 300px;
    /* form-sizing:content; */
}

label{
    font-size: 0.9em;
    line-height:2 ;
}

.checkbox{
    width: auto;
    height: 12px;
}
a{
    text-decoration: none;
    color: #343333;
    font-size: 0.9em ;
    font-weight: bold;
    text-transform: uppercase;
}